* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   font-style: lato;
}
body {
    background-color: antiquewhite
}


header {
    background-color: aquamarine;
    text-align: center;
    font-size: 35px;
    margin: 0;
    padding: 0%;
    height: 200px;
}

 ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position:-webkit-sticky;
    position:sticky;
}

li {
    justify-content: center;
    font-size:30px;
    margin:10px;
}
